body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6f7e6;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0px;
}

.navbar {
  background-color: rgb(96, 168, 96);
  padding: 10px 0;
}

.navbar .nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-right: 20px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar .nav-links li {
  display: inline;
}

.navbar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.banner {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.banner-text h1 {
  font-size: 40px;
  margin: 0;
}

.banner-text p {
  font-size: 24px;
  margin: 0;
}

.categories-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: fit-content;
  padding: 10px;
  padding-top: 30px;
}

.category {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.category-name {
  text-align: center;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.product {
  flex: 1 1 calc(50% - 10px);
  min-width: 200px;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 90%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.product p {
  margin: 5px 0;
  flex-grow: 1;
}

.price {
  font-weight: bold;
  color: #333;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s;
}

button:hover {
  background-color: #45a049;
}

.navbar .nav-container {
  align-items: center;
  padding-right: 20px;
}

.categories-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-width: fit-content;
  padding: 10px;
  padding-top: 30px;
}

.contact-section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contact-form-container,
.contact-list-container {
  flex: 1 1 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.contact-form-container {
  max-width: 100%;
}

.contact-list-container {
  max-width: 100%;
}

.contact-form,
.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact-form label,
.contact-list h3 {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact-form input,
.contact-form textarea,
.contact-list ul {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
}

.contact-list ul {
  padding: 0;
  margin: 0;
}

.contact-list li {
  margin-bottom: 10px;
  list-style-type: square;
}

.contact-form button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s;
}

.contacts-container h2 {
  text-align: center;
}

.contact-form button:hover {
  background-color: #45a049;
}

.contact-list-container h3 {
  text-align: center;
}

@media (min-width: 768px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
  }
}

@media (min-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

footer {
  background: #343a40;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
  margin-top: 20px;
}
